body{
    font-family: 'Lato';
}
*{
    margin: 0px;
}
.header-containar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    padding: 197px 240px 147px;

}
.title-div{
}
.header-img{
    padding-right: 240px;
}
.title-primary{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.title-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 32px;
    line-height: 30px;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 20px 43px;
    margin-top: 32px;
    border: 0px;
    cursor: pointer;
}
.first-img{
 width: 630px;
 height: 780px;
}
.-two{
    color: #272727;
/* text-align: center; */
font-size: 40px;
font-weight: 800;
padding-top: 176px;
}
.-primary{
    /* text-align: center; */
    padding: top 24px; ;
}
.main-img{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
height: 535px;
width: 530px;
}
.main-top-img{
    display: flex;
    height: 428px;
    width: 310px;
    gap: 25px;
    padding: 48px 728px 120px;
}
.main-top-title{
  text-align: center;
}
.-one1{
    width: 464px;
height: 538px;
flex-shrink: 0;
}
.-two2{
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
height: 538px;
flex-shrink: 0;
}
.-three3{
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
height: 538px;
flex-shrink: 0;
}
.pink-flower-tree{
    display: flex;
    justify-content: center;
    gap: 307px;
    text-align: center;
}
.text{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px; 
text-decoration-line: underline;
}
.service-containar{
    margin: 128px 25%;
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    background-position: center;
}
.service-img{
    padding:86px 356px 24px 317px ;
    display: flex;
    gap: 357px;
}
.service-description{
    display: flex;
}
.service-title-description{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px; 
}
.service-description{
    gap: 130px;
    margin:24px 100px 87px 200px ;
}
.offer-containar{
    display: flex;
    width: 1550px;
    height: 420px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 200px 762px 142px 423px ;
    gap: 250px;
}
.red{
    color: #E55473;
}
.flower-containar{
    text-align: center;
}
.flower-dejain{
    text-align: center;
}
.flower-items{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:48px ;
    gap: 24px ;
    margin-bottom: 128px;
}
.your-deals{
    text-align: center;
}
.input-fild{
    text-align: center;
}
.input-email{
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    margin-right: 16px;
}
.background-img{
    background-image: url("/Flower Asset/Rectangle\ 9.png");
    margin: 228px 220px;
    width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 28px ;
}